* {
    box-sizing: border-box;
    /*default styling that browsers use*/
}

.wrapper {
    /*border: 1px solid gray;*/
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: gainsboro;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Roboto Mono", monospace;
}

nav {
    /*border: black solid 2px;*/
    margin: 20px;
    padding: 20px;
    background-color:silver;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
}

header {
    color: black;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.intro {
    text-align: center;
    margin: 0 auto; /*top/bottom- 0, left/right- auto;*/
}

.quote {
    text-align: center;
    font-style: italic;
}

.profile-picture {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
    width: 20%;
    opacity: 0.9;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.719)
}

/******camera css begins*****/
.travel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px;
}

.travel:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    filter: brightness(.75);
}


/******about section css begins*****/
.col-3 {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid silver;
}


/******Portfolio css begins******/
.projects-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-image-wrapper {
	justify-self: center; /*box justified inside its alignment container*/
	padding: 4%;
	position: relative; /*relative to normal position*/
}

.project-image {
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
	/*transition: all ease-in-out .2s; experiment*/
}

.project-image:hover {
	filter: brightness(.75);
	box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}

h4 {
    text-align: center;
}

/*****footer begins******/
footer, h3 {
    text-align: center;
    margin-bottom: 10px;
}

hr { /*horizontal rule css*/
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


/******social links begins*****/
.links {
    text-align: center;
}

a {
    color: rgba(0, 0, 255, 0.664);
}

/*****form css begins*****/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    /*makes space between labels*/
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,textarea {
    /* To ensure all text fields with same font settings By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* makes text field Uniform*/
    width: 300px;
    /*box-sizing: border-box;*/

    /* Match form field borders */
    border: 2px solid #999;
}

textarea {
    /* aligh text fields with their labels */
    vertical-align: top;

    /* textarea box space*/
    height: 5em;
}

.button {
    /* align buttons with the text fields */
    padding-left: 90px; 
}

button {
    /* aligns with text field */
    margin-left: .5em;
}

/*****media queries begins*****/

/*mobile devices*/
@media only screen and (max-width: 480px) {
	.projects-grid {
	grid-template-columns: 100%; /*defines sizing functions of grid-col*/
	}
    .col-3 {
    column-count: auto; /*adjust to single column for readability*/
    }
}

/*tablet
@media only screen and (max-width: 768px) {
	.projects-grid {
	grid-template-columns: 100%;
	}
}*/

/*small screens-laptops*/
@media only screen and (max-width: 1024px) {
	.projects-grid {
	grid-template-columns: 100%;
	}
}
